<html>
  <head>
    <style>
      body{
        background: <%= if message == 'Guess a number between 0 - 100'
                          'white'
                        elsif message == 'Too low!' || message == 'Too high!'
                          'pink'
                        elsif message == 'Way too low!' || message == 'Way too high!' 
                          'red'
                        else
                          'green'
                        end %>;
      }
    </style>
  </head>
  <body>
    <p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    </p>
    <p>
      <%= message %>
      <br>
      <%= number if cheat == 'true' %>
    </p>
  </body>
</html>